 /*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>
#define DEFAULT 
#define NUMROW 1


/ {
    keymap { 
        compatible = "zmk,keymap";

        default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   BSPC  |
// |  LGUI  |  A  |  S  |  D   |  F   |  G    |                                          |  H   |  J    |  K    |  L   |   +   |   K_APP  |
// | LCTRL  |  Z  |  X  |  C   |  V   |  B    |  &mo 1 |   SPACE   |  |  &mo 1  |   ;   |   `   |  N    |  M    |  [   |   ]   |  ENTER  |
//                     |  -  | BSLH  | LALT  |  LSHFT  |   SPACE   |  |   &mo 1   |  ,  | RALT  | .  | / |
            bindings = <
    &kp ESC   &kp Q &kp W &kp E &kp R &kp T                                                &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
    &kp LGUI   &kp A &kp S &kp D &kp F &kp G                                                &kp H &kp J  &kp K     &kp L   &kp PLUS &kp K_APP
    &kp LCTRL &kp Z &kp X &kp C &kp V &kp B &mo NUMROW &kp SPACE                 &out OUT_BLE &kp SEMI &kp SQT &kp N  &kp M &kp LBKT &kp RBKT &kp ENTER
                   &kp MINUS &kp BSLH &kp LALT &kp LSHFT &kp SPACE         &out OUT_BLE &kp COMMA &kp RALT &kp DOT &kp FSLH  >;
             sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
};
    numrow_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// | 1  |  2  |  3  |  4   |  5   |  6   |                                          |  7   |  8    |  9    |  0   |   -   |   BSPC  |
// |  LGUI  |  A  |  BLE  |  D   |  F   |  G    |                                          |  H   |  J    |  K    |  BLE   |   BLE TOGGLE   |   RGB HUE  |
// | LCTRL  |  Z  |  X  |  C   |  V   |  B    |  &mo 1 |   SPACE   |  |  &mo 1  |   ;   |   UP   |  N    |  M    |  [   |   ]   |  ENTER  |
//                     |  -  | BSLH  | LALT  |  LSHFT  |   SPACE   |  |  &mo 1   |  LEFT  | DOWN  | RIGHT  | / |
            bindings = <
   &kp N1   &kp N2 &kp N3 &kp N4 &kp N5 &kp N6                                                &kp N7 &kp N8  &kp N9     &kp N0   &kp MINUS    &kp BSPC
    &rgb_ug RGB_COLOR_HSB(128, 100, 100)  &out OUT_USB &out OUT_BLE &bt BT_CLR &kp F &kp G                                      &kp H &kp J  &bt BT_CLR     &out OUT_TOG    &rgb_ug RGB_COLOR_HSB(128, 100, 100)
    &kp LCTRL &kp Z &kp X &kp C &kp V &kp B &mo NUMROW &kp SPACE                  &mo NUMROW &kp UP &kp SQT &kp N  &kp M &kp LBKT &kp RBKT &kp ENTER
                     &kp MINUS &kp BSLH &kp LALT &kp LSHFT &kp SPACE        &mo NUMROW &kp LEFT  &kp DOWN &kp RIGHT &kp FSLH >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
